{% extends "templates\\base.html" %}

{% block content %}

<!-- Initialises MathJax -->
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML' async></script>

<div id="mainDiv">
	<h2 id="contents">Contents</h2>
	<br>
	<a class="link" href="#1_1_adding_items_to_an_equation">1.1 Adding items to an equation</a>
	<br>
	<a class="link" href="#1_2_moving_and_deleting_items_in_an_equation">1.2 Moving and deleting items in an equation</a>
	<br>
	<a class="link" href="#1_3_interpreting_the_solution">1.3 Interpreting The Solution</a>
	<br>
	<a class="link" href="#1_4_exporting_the_equation">1.4 Exporting The Equation</a>
	<br>
	<a class="link" href="#1_5_using_the_graph">1.5 Using The Graph</a>
	<br>
	<a class="link" href="#1_6_changing_the_settings">1.6 Changing The Settings</a>
	<br>
	<a class="link" href="#2_1_introduction_to_matrices">2.1 Introduction to Matrices</a>
	<br>
	<a class="link" href="#2_2_addition_and_subtraction">2.2 Addition and Subtraction</a>
	<br>
	<a class="link" href="#2_3_transpose">2.3 Transpose</a>
	<br>
	<a class="link" href="#2_4_multiplication">2.4 Multiplication</a>
	<br>
	<a class="link" href="#2_5_matrix-scalar_product">2.5 Matrix-Scalar Product</a>
	<br>
	<a class="link" href="#2_6_dot-product">2.6 Dot-Product</a>
	<br>
	<a class="link" href="#2_7_matrix-matrix_product">2.7 Matrix-Matrix Product</a>
	<br>
	<a class="link" href="#2_8_determinant">2.8 Determinant</a>
	<br>
	<a class="link" href="#2_9_inverse">2.9 Inverse</a>
	<br><br>
	
	<br><br>
	<h2 id="1_1_adding_items_to_an_equation">1.1 Adding items to an equation</h2>
	To create an equation, you can use the row of bottoms near the top of the calculator page.
	<br>

	Each of these buttons adds a different type of mathematical item to the equation:
	<br><br>

	- Scalar - A single number (can be integer or decimal).
	<br><br>
	<img src="images\help_images\scalar.PNG" style="width: 50%;"></img>
	<br><br>

	- Grid - A grid of scalars (if 1 column, it represents a vector, otherwise it represents a matrix).
	<br><br>
	<img src="images\help_images\grid.PNG" style="width: 50%;"></img>
	<br><br>

	- Operation - A mathematical operation that takes a set of operands and produces an output e.g. add, multiply, sine, factorial etc.
	<br><br>
	<img src="images\help_images\operation.PNG" style="width: 50%;"></img>
	<br><br>

	- Bracket - A symbol that encloses a set of items, chaning the way they are evaluated.
	<br><br>
	<img src="images\help_images\bracket.PNG" style="width: 50%;"></img>
	<br><br>

	An equation should be formed, where from top to bottom of the screen represents left to right in conventional mathematical notation e.g:
	<br><br>
	Scalar (2)
	<br>
	Operation (+)
	<br>
	Scalar (5)
	<br><br>

	Is interpreted as:
	<br>
	2 + 5
	<br><br>

	<br><br>
	<h2 id="1_2_moving_and_deleting_items_in_an_equation">1.2 Moving And Deleting Items In An Equation</h2>
	<br>

	Move item:
	<br>
	Once you have added an item to an equation and now wish to change its position, you can do so using the up/down arrows on the left side of each item.
	<br><br>

	Delete item:
	<br>
	Alternatively, if you wish to remove an item entirely, you can use the cross button between the two movement arrows.
	<br><br>

	<img src="images\help_images\move_delete.PNG" style="width: 15%;"></img>
	<br><br>

	Delete all items:
	<br>
	To remove all the items from equation, press the 'clear' button at the bottom of the equation.
	<br><br>
	<img src="images\help_images\clear_button.PNG" style="width: 40%;"></img>
	<br><br>

	<br><br>
	<h2 id="1_3_interpreting_the_solution">1.3 Interpreting The Solution</h2>
	<br><br>

	As soon as you begin adding items to the equation, the calculator will attempt to evaluate the equation you have input.
	<br>
	The solution will be displayed in a small box underneath the graph.
	<br>
	If the equation (or solution to it) does not involve any 2 x n matrices, the graph will be blank.
	<br><br>

	When evaluating an equation, there are 3 possible outcomes:
	<br><br>

	- Empty Equation - There are no items in the equation for the calculator to evaluate.
	<br><br>
	<img src="images\help_images\empty_equation.PNG" style="width: 50%;"></img>
	<br><br>

	- Parse failed - The calculator could not understand the input you gave it. Check all text boxes are filled, and all items (e.g. operations and brackets) have a type selected.
	<br><br>
	<img src="images\help_images\parse_failed.PNG" style="width: 50%;"></img>
	<br><br>

	- Solve failed - The equation was understood, but no solution could be found. Check for errors with the maths e.g. division by 0, or unclosed brackets.
	<br><br>
	<img src="images\help_images\solve_failed.PNG" style="width: 50%;"></img>
	<br><br>

	- [Solution given] - The calculator was able to evaluate the input equation to give a solution. It should be displayed in correct mathematical notation (using LaTeX).
	<br><br>
	<img src="images\help_images\solution.PNG" style="width: 50%;"></img>
	<br><br>

	If the solution is a 2 x n matrix/vector, it will be displayed on the graph with a unique color (black by default).
	<br><br>
	
	<br><br>
	<h2 id="1_4_exporting_the_equation">1.4 Exporting The Equation</h2>
	<br>

	To save an equation and its solution + graph to a file, for viewing at a later date, we can use the export button below the main equation.
	<br><br>
	<img src="images\help_images\export_button.PNG" style="width: 50%;"></img>
	<br><br>

	It will be generate a .html file that can be viewed in all web browsers, with a LaTeX representation of the equation.
	<br>
	Below it is the graph and all its points displayed as an image.
	<br><br>
	<img src="images\help_images\exported_file.PNG" style="width: 50%;"></img>
	<br><br>

	The exported file is not interactive, it can only be used for viewing, and not further calculation.
	<br><br>

	<br><br>
	<h2 id="1_5_using_the_graph">1.5 Using The Graph</h2>
	<br>
	
	The graph is used to display all matrices/vectors that are 2 dimensional. It will always scale to fit the largest matrix/vector it is displaying.
	<br>
	Any time a 2 dimensional matrix/vector appears, either in the equation or solution, it will be displayed onto the graph.
	<br><br>
	<img src="images\help_images\colored_points.PNG" style="width: 50%;"></img>
	<br><br>

	Each matrix/vector is assigned a unique color, which is indicated in the bottom right corner of the item box.
	<br>
	This is the color used when its points are displayed on the graph.
	<br><br>

	You can also hide/show a matrix by clicking once on the colour indicator. If it becomes faded, the points are hidden, however if it becomes bold colored points are visible.
	<br><br>
	<img src="images\help_images\points_hidden.PNG" style="width: 45%; display: 'inline';"></img>
	<img src="images\help_images\points_shown.PNG" style="width: 45%; display: 'inline';"></img>
	<br><br>

	<br><br>
	<h2 id="1_6_changing_the_settings">1.6 Changing The Settings</h2>
	<br>

	The calculator can be customised to fit the users prefernces from within the settings page.
	<br><br>
	Here is an overview of the settings which can be edited:
	<br><br>

	- Color - The color used for many elements within the page e.g. the navbar, buttons, links.
	<br><br>
	<img src="images\help_images\calculator4.PNG" style="width: 45%; display: 'inline';"></img>
	<img src="images\help_images\calculator1.PNG" style="width: 45%; display: 'inline';"></img>
	<br><br>
	
	You have the following choice of colours to choose from:
	<br><br>

	<img src="images\help_images\color_setting.PNG" style="width: 80%;"></img>
	<br><br>

	- Shade - Use either a light or dark theme for elements on the page.
	<br><br>
	<img src="images\help_images\calculator4.PNG" style="width: 45%; display: 'inline';"></img>
	<img src="images\help_images\calculator3.PNG" style="width: 45%; display: 'inline';"></img>
	<br><br>

	- Style - Choose between having shadows and rounded corners (material) or flat rectangles (flat).
	<br><br>
	<img src="images\help_images\calculator1.PNG" style="width: 45%; display: 'inline';"></img>
	<img src="images\help_images\calculator5.PNG" style="width: 45%; display: 'inline';"></img>
	<br><br>

	- Calculator Layout - Decide the arrangement of the panels in the calculator page. You can either have the equation or the graph displayed on the left. (At the top if using a mobile device).
	<br><br>
	<img src="images\help_images\calculator1.PNG" style="width: 45%; display: 'inline';"></img>
	<img src="images\help_images\calculator2.PNG" style="width: 45%; display: 'inline';"></img>
	<br><br>

	- Angle Unit - Choose between radians or degrees (used for trigonometric functions and angle between vectors).
	<br><br>

	<br><br>
	<h2 id="2_1_introduction_to_matrices">2.1 Introduction To Matrices</h2>
	<br>

	A matrix is just a grid of numbers, like the following example of a 3x3 matrix:
	<br><br>
	$
	\begin{bmatrix}
	4 & 1 & 7 \\
	9 & 6 & 2 \\
	2 & 8 & 1 \\
	\end{bmatrix}
	$
	<br><br>

	The "order" of a matrix is defined as the number of rows by the number of columns.
	<br>
	Often denoted m x n, the following is an example of a matrix of 2x4 order:
	<br><br>
	$
	\begin{bmatrix}
	4 & 6 & 0 & 9 \\
	6 & 3 & 2 & 8 \\
	\end{bmatrix}
	$
	<br><br>

	Matrices with only one row or column are known as vectors.
	<br>

	This is an example of a column vector because it only has one column:
	<br><br>
	$
	\begin{bmatrix}
	3 \\
	8 \\
	1 \\
	\end{bmatrix}
	$
	<br><br>

	And this is an example of a row vector, because it only has one row:
	<br><br>
	$
	\begin{bmatrix}
	6 & 2 & 5\\
	\end{bmatrix}
	$
	<br><br>

	<br><br>
	<h2 id="2_2_addition_and_subtraction">2.2 Addition and Subtraction</h2>
	<br>

	Matrices are treated differently to normal mathematical expressions, they are added, subtracted and multiplied in their own specific way.
	<br>
	Note that you cannot divide one matrix by another.
	<br><br>

	To add two matrices, you just add together the items in the same spaces, for example:
	<br><br>
	$
	\begin{bmatrix}
	1 & 3 \\
	6 & 4 \\
	\end{bmatrix}
	+
	\begin{bmatrix}
	5 & 9 \\
	1 & 7 \\
	\end{bmatrix}
	=
	\begin{bmatrix}
	6 & 12 \\
	7 & 11 \\
	\end{bmatrix}
	$
	<br><br>

	Similarly, you can do the same process for subtraction, for example:
	<br><br>
	$
	\begin{bmatrix}
	8 & 0 \\
	6 & 1 \\
	\end{bmatrix}
	-
	\begin{bmatrix}
	2 & 1 \\
	3 & 7 \\
	\end{bmatrix}
	=
	\begin{bmatrix}
	6 & -1 \\
	3 & -6 \\
	\end{bmatrix}
	$
	<br><br>

	<br><br>
	<h2 id="2_3_transpose">2.3 Transpose</h2>
	<br>

	"Taking the transpose" means swapping all the rows for columns and columns for rows and is denoted by a capital T in superscript.
	<br>
	Here are some examples of taking the transpose:
	<br><br>
	$
	\begin{bmatrix}
	2 & 7\\
	1 & 5\\
	\end{bmatrix}
	^T
	=
	\begin{bmatrix}
	2 & 1\\
	7 & 5\\
	\end{bmatrix}
	$
	<br><br>

	For column vectors, this looks like the following:
	<br><br>
	$
	\begin{bmatrix}
	7\\
	3\\
	1\\
	\end{bmatrix}
	^T
	=
	\begin{bmatrix}
	7 & 3 & 1\\
	\end{bmatrix}
	$
	<br><br>

	And for row vectors it looks like so:
	<br><br>
	$
	\begin{bmatrix}
	2 & 8 & 5\\
	\end{bmatrix}
	^T
	=
	\begin{bmatrix}
	2\\
	8\\
	5\\
	\end{bmatrix}
	$
	<br><br>

	Note that transposing a matrix or vector twice, will give you back the original matrix/vector.
	<br>

	<br><br>
	<h2 id="2_4_multiplication">2.4 Multiplication</h2>
	<br>

	When it comes to multiplication, matrices are much more complicated than regular scalars.
	<br>
	There are multiple types of matrix multiplication including: matrix-scalar product, matrix-matrix product, dot-product, cross-product.
	<br>

	<br><br>
	<h2 id="5_matrix-scalar_product">2.5 Matrix-Scalar Product</h2>
	<br>

	Multiplying a matrix by a scalar is very simple, for example:
	<br><br>
	$
	3
	\cdot
	\begin{bmatrix}
	3 & 9 \\
	5 & 1 \\
	\end{bmatrix}
	=
	\begin{bmatrix}
	9 & 27 \\
	15 & 3 \\
	\end{bmatrix}
	$
	<br><br>

	<br><br>
	<h2 id="2_6_dot-product">2.6 Dot-Product</h2>
	<br>

	If you are multiplying with two column vectors, there is a method called "taking the dot product" in which you multiply together elements in corresponding rows and add this to the total.
	<br>
	After calculating dot product, you will get a single scalar value as an output:
	<br><br>
	$
	\begin{bmatrix}
	3\\
	2\\
	8\\
	\end{bmatrix}
	\cdot
	\begin{bmatrix}
	7\\
	4\\
	3\\
	\end{bmatrix}
	=
	21+8+24
	=
	53
	$
	<br><br>

	If you need to calculate the dot product of a column vector and row vector, you must first transpose the row vector.
	<br>
	You can then calculate the dot product as usual:
	<br><br>
	$
	\begin{bmatrix}
	7\\
	1\\
	8\\
	\end{bmatrix}
	\cdot
	\begin{bmatrix}
	5 & 3 & 2\\
	\end{bmatrix}
	^T
	\\=
	\begin{bmatrix}
	7\\
	1\\
	8\\
	\end{bmatrix}
	\cdot
	\begin{bmatrix}
	5\\
	3\\
	2\\
	\end{bmatrix}
	\\=
	35+3+16
	\\=
	52
	$
	<br><br>

	<br><br>
	<h2 id="2_7_matrix-matrix_product">2.7 Matrix-Matrix Product</h2>
	<br>

	Alternatively, when multiplying together two matrices, we use "matrix multiplication".
	<br>
	The following is the standard result for multiplying two 2x2 matrices:
	<br><br>
	$
	\begin{bmatrix}
	a & b \\
	c & d \\
	\end{bmatrix}
	\cdot
	\begin{bmatrix}
	e & f \\
	g & h \\
	\end{bmatrix}
	\\=
	\begin{bmatrix}
	a \cdot e + b \cdot g & a \cdot f + b \cdot h \\
	c \cdot e + d \cdot g & c \cdot f + d \cdot h \\
	\end{bmatrix}
	$
	<br><br>

	Although it may be hard to see how this is derived, the process is really very simple:
	<br><br><br>
	<i>
	1. Starting with the first row of the left matrix, take the dot product with the first column of the right matrix. Place this value in row 1 column 1 of the output matrix.
	<br><br>
	2. Next, take the dot product, but using the second column of the right matrix instead.
	<br><br>
	3. Continue this process for all columns in the right matrix.
	<br><br>
	4. Once you have done this, move on to the second row of the left matrix and repeat all the above steps.
	<br><br>
	5. Continue through all rows of the left matrix until you reach the end.
	</i>
	<br><br><br>

	<br><br>
	<h2 id="2_8_determinant">2.8 Determinant</h2>
	<br>

	Another property of a matrix is the determinant, which is also single scalar quantity.
	<br>
	The determinant of a matrix is generally denoted by two straight lines either side of it.
	<br>
	Here is an example of finding the determinant of a 3 x 3 matrix using the first column:
	<br><br>
	$
	\begin{vmatrix}
	9 & 5 & 1\\
	4 & 7 & 8\\
	2 & 3 & 4\\
	\end{vmatrix}
	\\=
	9(7 \cdot 4 - 8 \cdot 3) \\ \ \ - 4(5 \cdot 4 - 1 \cdot 3) \\ \ \ + 2(5 \cdot 8 - 1 \cdot 7)
	\\=
	34
	$
	<br><br>

	Note that the determinant only exists for a square matrix e.g. 3x3.
	<br><br>

	For any matrix, the process to find the determinant is as follows:
	<br><br><br>
	<i>
	1. Starting from the first element of any row or column, remove from the matrix the row and column that element is on. For this example we will use the first row.
	<br><br>
	2. Using this entire process again, calculate the determinant of the smaller matrix left over (known as the minor matrix) and multiply this value by the original element you chose in step 1. Add the result to the total.
	<br><br>
	3. Move along to the next element in the row, and repeat the process. Instead of adding to the total however, you must subtract from it. You change whether you add or subtract every time you move along an element.
	<br><br>
	4. Once you have reached the end of the row. The total you have calculated will be the determinant.
	</i>
	<br><br><br>

	A general rule of thumb is to choose the row/column with the most zeroes as you can skip these elements entirely.

	<br><br>
	<h2 id="2_9_inverse">2.9 Inverse</h2>
	<br>

	Finally, the last property of a matrix, we will cover is the inverse.
	<br>
	If we take any matrix $M$, then its inverse is denoted $M^{-1}$
	<br><br>
	Here is an example for finding the inverse of a 3x3 matrix:
	<br><br>
	$
	M =
	\begin{bmatrix}
	4 & 8 & 3\\
	0 & 9 & 5\\
	1 & 1 & 2\\
	\end{bmatrix}
	$
	<br><br>

	$
	M^{-1} =
	\begin{bmatrix}
	4 & 8 & 3\\
	0 & 9 & 5\\
	1 & 1 & 2\\
	\end{bmatrix}
	^{-1}
	= \ ?
	$
	<br><br>
	The determinant:
	<br><br>
	$
	4(9 \cdot 2 - 5 \cdot 1) \\ - 0(8 \cdot 2 - 3 \cdot 1) \\ + 1(8 \cdot 5 - 3 \cdot 9)
	\\=
	65
	$
	<br><br>
	The transpose:
	<br><br>
	$
	\begin{bmatrix}
	4 & 8 & 3\\
	0 & 9 & 5\\
	1 & 1 & 2\\
	\end{bmatrix}
	^{T}
	\\=
	\begin{bmatrix}
	4 & 0 & 1\\
	8 & 9 & 1\\
	3 & 5 & 2\\
	\end{bmatrix}
	$
	<br><br>
	The matrix of cofactors (using the transposed matrix):
	<br>

	Top left cofactor:
	<br><br>
	$
	\begin{vmatrix}
	9 & 1\\
	5 & 2\\
	\end{vmatrix}
	\\=
	13
	$
	<br><br>

	Top middle cofactor:
	<br><br>
	$
	\begin{vmatrix}
	8 & 1\\
	3 & 2\\
	\end{vmatrix}
	\\=
	13
	$
	<br><br>

	Top right cofactor:
	<br><br>
	$
	\begin{vmatrix}
	8 & 9\\
	3 & 5\\
	\end{vmatrix}
	\\=
	13
	$
	<br><br>

	Middle left cofactor:
	<br><br>
	$
	\begin{vmatrix}
	0 & 1\\
	5 & 2\\
	\end{vmatrix}
	\\=
	-5
	$
	<br><br>

	Middle middle cofactor:
	<br><br>
	$
	\begin{vmatrix}
	4 & 1\\
	3 & 2\\
	\end{vmatrix}
	\\=
	5
	$
	<br><br>

	Middle right cofactor:
	<br><br>
	$
	\begin{vmatrix}
	4 & 0\\
	3 & 5\\
	\end{vmatrix}
	\\=
	20
	$
	<br><br>

	Bottom left cofactor:
	<br><br>
	$
	\begin{vmatrix}
	0 & 1\\
	9 & 1\\
	\end{vmatrix}
	\\=
	-9
	$
	<br><br>

	Bottom middle cofactor:
	<br><br>
	$
	\begin{vmatrix}
	4 & 1\\
	8 & 1\\
	\end{vmatrix}
	\\=
	-4
	$
	<br><br>

	Bottom right cofactor:
	<br><br>
	$
	\begin{vmatrix}
	4 & 0\\
	8 & 9\\
	\end{vmatrix}
	\\=
	36
	$
	<br><br>

	Top middle cofactor:
	<br><br>
	$
	\begin{vmatrix}
	8 & 2\\
	1 & 3\\
	\end{vmatrix}
	\\=
	22
	$
	<br><br>

	The matrix of cofactors:
	<br><br>
	$
	\begin{bmatrix}
	13 & 13 & 13\\
	-5 & 5 & 20\\
	-9 & -4 & 36\\
	\end{bmatrix}
	$
	<br><br>

	The adjugate:
	<br><br>
	$
	\begin{bmatrix}
	13 & -(13) & 13\\
	-(-5) & 5 & -(20)\\
	-9 & -(-4) & 36\\
	\end{bmatrix}
	\\=
	\begin{bmatrix}
	13 & -13 & 13\\
	5 & 5 & -20\\
	-9 & 4 & 36\\
	\end{bmatrix}
	$
	<br><br>

	And finally, the inverse:
	<br><br>
	$
	\dfrac{1}{det(M)}
	\cdot
	adj(M)
	\\=
	\dfrac{1}{65}
	\cdot
	\begin{bmatrix}
	13 & -13 & 13\\
	5 & 5 & -20\\
	-9 & 4 & 36\\
	\end{bmatrix}
	\\=
	\begin{bmatrix}
	\frac{1}{5} & -\frac{1}{5} & \frac{1}{5}\\
	\frac{1}{13} & \frac{1}{13} & -\frac{4}{13}\\
	-\frac{9}{65} & \frac{4}{65} & \frac{36}{65}\\
	\end{bmatrix}
	$
	<br><br>

	By definition, the following statement is true:
	<br><br>
	$
	M \cdot M^{-1} \ = I
	$
	<br><br>
	Therefore we can check our answer like so:
	<br><br>
	$
	\begin{bmatrix}
	4 & 8 & 3\\
	0 & 9 & 5\\
	1 & 1 & 2\\
	\end{bmatrix}
	\cdot
	\begin{bmatrix}
	\frac{1}{5} & -\frac{1}{5} & \frac{1}{5}\\
	\frac{1}{13} & \frac{1}{13} & -\frac{4}{13}\\
	-\frac{9}{65} & \frac{4}{65} & \frac{36}{65}\\
	\end{bmatrix}
	\\=
	\begin{bmatrix}
	1 & 0 & 0\\
	0 & 1 & 0\\
	0 & 0 & 1\\
	\end{bmatrix}
    \\=
    I
	$
	<br><br>

	The answer is one, so this is the correct inverse.
	<br><br>
	Here is the process for finding the inverse:
	<br><br><br>
	<i>
	1. Begin by calculating the determinant of the matrix. Note that if it is 0, then the matrix will have no inverse.
	<br><br>
	2. Next find the transpose of the original matrix.
	<br><br>
	3. After this, we will have to find "the matrix of minors". You can do this as follows:
	<br><br>
	- Select an element of the tranposed matrix, and remove the row and column that that element is on.
	<br>
	- Calculate the determinant of the matrix that is left.
	<br>
	- Next place this determinant into the corresponding space in a new matrix (of the same order as the original/transposed matrix).
	<br>
	- Do this for all the elements in the transposed matrix, and you will have the matrix of minors.
	<br><br>
	4. We need to find "the adjugate" from the matrix of minors, so we do this by swapping the sign every other element.
	<br><br>
	5. Once we have the ajugate, we can multiply it by 1 over the determinant. This resulting matrix-scalar product will be the inverse matrix.
	</i>
	<br><br><br>

	<br><br>
	<a class="link" href="#contents">Back to contents</a>
	<br><br>
</div>

<script type="text/javascript">
	// Prevents the page from resizing jarringly on mobile while the MathJax equations load
	mainDiv = document.getElementById("mainDiv");
	mainDiv.style.overflow = "hidden";
</script>

{% endblock %}
