{% extends "templates\\base.html" %}

{% block content %}

<!-- Initialises MathJax -->
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML' async></script>

<!-- The GLSL vertex shader script for use in WebGL -->
<script id="vertexShader" type="text/glsl">
	precision mediump float;
	attribute vec2 a_position;
	attribute vec4 a_vert_color;
	varying vec4 v_frag_color;
	
	void main() {
		v_frag_color = a_vert_color;
		gl_Position = vec4(a_position,0.0,1.0);
	}
</script>

<!-- The GLSL fragment shader script for use in WebGL -->
<script id="fragmentShader" type="text/glsl">
	precision mediump float;
	varying vec4 v_frag_color;
	
	void main() {
		gl_FragColor = v_frag_color;
	}
</script>

<!-- Handles the building of matrix equations using items. Creates the UI elements for each element and handles the way they are edited, organised and removed from the equation. -->
<script type="text/javascript" src="scripts/calculator_build.js"></script>

<!-- Handles drawing to the canvas (graph) via WebGL API. -->
<script type="text/javascript" src="scripts/calculator_canvas.js"></script>

<!-- Contains class definitions for all the mathematical items that can be used within equations.  -->
<script type="text/javascript" src="scripts/calculator_items.js"></script>

<!-- Generates the initial layout and dynamic resizing of the calculator page. -->
<script type="text/javascript" src="scripts/calculator_layout.js"></script>

<!-- Defines the logic of mathematical operations required for the calculator to perform calculations. -->
<script type="text/javascript" src="scripts/calculator_logic.js"></script>

<!-- Provides a layer of abstraction over the logic behind mathematical operations used, verifies their inputs and passes them on to the corresponding logical operations. -->
<script type="text/javascript" src="scripts/calculator_operations.js"></script>

<!-- Handles the parsing and solving of equations the user has input. -->
<script type="text/javascript" src="scripts/calculator_solve.js"></script>

<!-- Handles the display of the equation and its solution to the page. -->
<script type="text/javascript" src="scripts/calculator_display.js"></script>

<!-- Performs the unit testing of the functions that solve equations every time the page is loaded.  Results are sent to browser console. -->
<script type="text/javascript" src="scripts/unit_tests.js"></script>

<!-- Prepares the calculator page for use. It generates the user interface, initialises the graph, registers mouse events and runs unit tests. -->
<script type="text/javascript" src="scripts/calculator.js"></script>

{% endblock %}