{% extends "templates\\base.html" %}

{% block content %}

<!-- Initialises MathJax -->
<script type="text/x-mathjax-config">
	MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-AMS_CHTML' async></script>

<!-- Script that handles the way that the page is displayed e.g. orientation and sizes -->
<script type="text/javascript" src="scripts/calculator_layout.js"></script>

<!-- Script that handles drawing to the canvas using WebGL -->
<script type="text/javascript" src="scripts/calculator_canvas.js"></script>

<!-- The GLSL vertex shader script for use in WebGL -->
<script id="vertexShader" type="text/glsl">
	precision mediump float;
	attribute vec2 a_position;
	attribute vec4 a_vert_color;
	varying vec4 v_frag_color;
	
	void main() {
		v_frag_color = a_vert_color;
		gl_Position = vec4(a_position,0.0,1.0);
	}
</script>

<!-- The GLSL fragment shader script for use in WebGL -->
<script id="fragmentShader" type="text/glsl">
	precision mediump float;
	varying vec4 v_frag_color;
	
	void main() {
		gl_FragColor = v_frag_color;
	}
</script>

<!-- Script that handles the building of matrix equations using matrix, scalar and operator items -->
<script type="text/javascript" src="scripts/calculator_build.js"></script>

<!-- Script that handles drawing to the canvas -->
<script type="text/javascript" src="scripts/calculator_canvas.js"></script>

<!-- Script that holds classes for all items that can be used in an equation -->
<script type="text/javascript" src="scripts/calculator_items.js"></script>

<!-- Script that handles the initial layout and dynamic resizing of the calculator page -->
<script type="text/javascript" src="scripts/calculator_layout.js"></script>

<!-- Script that handles the logical operations required for the calculator to function -->
<script type="text/javascript" src="scripts/calculator_logic.js"></script>

<!-- Script that handles mathematical operations used by the calculator, verifies their inputs and then passes them on to the corresponding logical operations -->
<script type="text/javascript" src="scripts/calculator_operations.js"></script>

<!-- Script that handles the parsing and solving of the equations the user has inputted -->
<script type="text/javascript" src="scripts/calculator_solve.js"></script>

<!-- Script that handles the display of the equation and its solution to the page -->
<script type="text/javascript" src="scripts/calculator_display.js"></script>

<!-- Script that handles the testing of the functions that solve equations -->
<script type="text/javascript" src="scripts/unit_tests.js"></script>

<script type="text/javascript" src="scripts/calculator.js"></script>

{% endblock %}