{% extends "templates\\base.html" %}

{% block content %}

<div id="mainDiv" style="font-size: 3.5vh; text-align: center;">
	Welcome to Matrix Calculator,
	<br>
	by Richard Wells
	<br>
	<hr>
	<br>
	<a href='calculator.html' class='link'><b>Calculator</b></a> - If you want to begin now, visit this page.
	<br>
	<br>
	<a href='about.html' class='link'><b>About</b></a> - Find out more about matrices, and get help with using this site.
	<br>
	<br>
	<a href='settings.html' class='link'><b>Settings</b></a> - Customise the color theme, layout, angle unit etc.
</div>

{% endblock %}
