{% extends "templates\\base.html" %}

{% block content %}

<script type="text/javascript" src="scripts/calculator_logic.js"></script>
<script type="text/javascript" src="scripts/calculator_operations.js"></script>
<script type="text/javascript" src="scripts/calculator_solve.js"></script>
<script type="text/javascript" src="scripts/calculator_items.js"></script>
<script type="text/javascript" src="scripts/unit_tests.js"></script>
<!-- Handles updating of all the settings used within the page. -->
<script type="text/javascript" src="scripts/settings.js"></script>


<div id="mainDiv">
</div>

<script type="text/javascript">
	mainDiv = document.getElementById("mainDiv");

	settings.createThemeButtons();
</script>
{% endblock %}
