{% extends "base.html" %}

{% block content %}

<div id="maindiv">
</div>

<script>
mainDiv = document.getElementById("maindiv");

// Add scalar button
scalarButton = document.createElement("div");
scalarButton.id = "scalarButton"
scalarButton.style.backgroundColor = "yellow";
scalarButton.innerHTML = "Add scalar";

scalarButton.style.cursor = "pointer";
scalarButton.padding = "auto";

scalarButton.style.marginBottom = 0.05 * window.innerHeight;
scalarButton.style.width = pxToFloat(window.getComputedStyle(mainDiv)["width"])/5 - pxToFloat(scalarButton.style.paddingLeft);
scalarButton.style.display = "inline-block";

scalarButton.onclick = addScalar;
maindiv.appendChild(scalarButton);


// Take value button
takeValueButton = document.createElement("div");
takeValueButton.id = "takeValueButton"
takeValueButton.style.backgroundColor = "red";
takeValueButton.innerHTML = "Take value";

takeValueButton.style.cursor = "pointer";
takeValueButton.padding = "auto";

takeValueButton.style.marginBottom = 0.05 * window.innerHeight;
takeValueButton.style.width = pxToFloat(window.getComputedStyle(mainDiv)["width"])/5 - pxToFloat(scalarButton.style.paddingLeft);
takeValueButton.style.display = "inline-block";

takeValueButton.onclick = takeValue;
maindiv.appendChild(takeValueButton);

matrixCount = 1;
scalarCount = 1;
operatorCount = 1;

function pxToFloat(string) {
	return parseFloat(string.substring(0, string.length-3));
}

function addScalar() {
	var scalarWrapper = document.createElement("div");
	scalarWrapper.style.display = "grid";
	scalarWrapper.style.gridTemplateColumns = "repeat(9, 1fr)";
	scalarWrapper.style.gridTemplateRows = "repeat(9, 1fr)"; 
	scalarWrapper.style.width = "100%";
	scalarWrapper.style.height = 0.3 * window.innerHeight;
	scalarWrapper.style.background = "#d6d6d6";
	scalarWrapper.style.padding = 0;
	scalarWrapper.style.marginBottom = 0.05 * window.innerHeight;
	scalarWrapper.id = "scalar"+scalarCount
	scalarCount += 1;
	
	var scalarSidebar = document.createElement("div");
	scalarSidebar.style.gridColumnStart = 1;
	scalarSidebar.style.gridColumnEnd = 3;
	scalarSidebar.style.gridRowStart = 1;
	scalarSidebar.style.gridRowEnd = 10;
	scalarSidebar.style.background = "#cccccc";
	
	var scalarName = document.createElement("div");
	scalarName.style.gridColumnStart = 1;
	scalarName.style.gridColumnEnd = 3;
	scalarName.style.gridRowStart = 1;
	scalarName.style.gridRowEnd = 2;
	scalarName.style.background = "#aaaaaa";
	scalarName.innerHTML = scalarWrapper.id;
	
	var scalarMoveUpIcon = document.createElement("img");
	scalarMoveUpIcon.src = "static/moveup.png";
	scalarMoveUpIcon.style.cursor = "pointer";
	scalarMoveUpIcon.style.imageRendering = "pixelated";
	scalarMoveUpIcon.style.height = "100%";
	scalarMoveUpIcon.style.margin = "0 auto";
	scalarMoveUpIcon.style.gridColumnStart = 2;
	scalarMoveUpIcon.style.gridColumnEnd = 3;
	scalarMoveUpIcon.style.gridRowStart = 4;
	scalarMoveUpIcon.style.gridRowEnd = 5;
	
	var scalarDeleteIcon = document.createElement("img");
	scalarDeleteIcon.src = "static/delete.png";
	scalarDeleteIcon.style.cursor = "pointer";
	scalarDeleteIcon.style.imageRendering = "pixelated";
	scalarDeleteIcon.style.height = "100%";
	scalarDeleteIcon.style.margin = "0 auto";
	scalarDeleteIcon.style.gridColumnStart = 2;
	scalarDeleteIcon.style.gridColumnEnd = 3;
	scalarDeleteIcon.style.gridRowStart = 6;
	scalarDeleteIcon.style.gridRowEnd = 7;
	scalarDeleteIcon.onclick = deleteItem;
	
	var scalarMoveDownIcon = document.createElement("img");
	scalarMoveDownIcon.src = "static/movedown.png";
	scalarMoveDownIcon.style.cursor = "pointer";
	scalarMoveDownIcon.style.imageRendering = "pixelated";
	scalarMoveDownIcon.style.height = "100%";
	scalarMoveDownIcon.style.margin = "0 auto";
	scalarMoveDownIcon.style.gridColumnStart = 2;
	scalarMoveDownIcon.style.gridColumnEnd = 3;
	scalarMoveDownIcon.style.gridRowStart = 8;
	scalarMoveDownIcon.style.gridRowEnd = 9;

	var scalarTextbox = document.createElement("input");
	scalarTextbox.style.boxSizing = "border-box";
	scalarTextbox.style.width = "100%";
	scalarTextbox.style.gridColumnStart = 6;
	scalarTextbox.style.gridColumnEnd = 7;
	scalarTextbox.style.gridRowStart = 5;
	scalarTextbox.style.gridRowEnd = 6;
	scalarTextbox.style.textAlign = "center";
	scalarTextbox.type = "text";

	scalarWrapper.append(scalarSidebar);
	scalarWrapper.append(scalarName);
	scalarWrapper.append(scalarMoveUpIcon);
	scalarWrapper.append(scalarDeleteIcon);
	scalarWrapper.append(scalarMoveDownIcon);
	scalarWrapper.append(scalarTextbox);
	mainDiv.append(scalarWrapper);
}

function deleteItem(event) {
	// Gets parent element of the delete icon that was clicked
	var item = event["path"][1];
	item.parentNode.removeChild(item);
}

function addScalar_old() {
	// Create a new scalar div
	var scalarDiv = document.createElement("div");
	
	// Styling the scalar div
	scalarDiv.style.width = 0.8 * window.innerWidth;
	scalarDiv.style.height = 0.2 * window.innerHeight;
	scalarDiv.style.border = "1px solid black";
	scalarDiv.style.padding = 0;
	scalarDiv.style.marginBottom = 0.1 * window.innerHeight;
	scalarDiv.style.marginLeft = 0.05 * window.innerWidth;
	
	
	// Create an side div
	var sideDiv = document.createElement("div");
	sideDiv.style.border = "1px solid black";
	sideDiv.style.padding = 0;
	//sideDiv.style.paddingTop = pxToFloat(scalarDiv.style.height);
	//sideDiv.style.paddingRight = pxToFloat(scalarDiv.style.width);
	sideDiv.style.width = pxToFloat(scalarDiv.style.width)/2;
	sideDiv.id = "sideDiv";
	scalarDiv.appendChild(sideDiv);
	
	// Create a text box
	var scalarTextbox = document.createElement("input");
	scalarTextbox.id = "scalarTextbox";
	scalarTextbox.type = "text";
	
	// Styling of text box
	scalarTextbox.style.height
	scalarTextbox.style.height = pxToFloat(scalarDiv.style.height) / 3;
	scalarTextbox.style.width = scalarTextbox.style.height;
	scalarTextbox.style.fontSize = 0.8 * scalarTextbox.style.height;
	
	// Append the text box to the scalar div
	scalarDiv.appendChild(scalarTextbox);
	
	// Append the scalar div to the main div
	scalarDiv.id = "scalar"+scalarNumber;
	scalarDiv.class = "scalar";
	
	mainDiv.appendChild(scalarDiv);
	
	console.log("added scalar " + scalarNumber);
	scalarNumber += 1;
}

function takeValue() {
	var mainDiv = document.getElementById("maindiv");
	var i = 0
	while (i < mainDiv.children.length) {
		if (mainDiv.children[i].class == "scalar") {
			console.log(mainDiv.children[i].children[0].value);
		}
		i += 1
	}
}
</script>

{% endblock %}
