{% extends "base.html" %}

{% block content %}

<div id="mainDiv">
</div>

<script>
mainDiv = document.getElementById("mainDiv");

// Converts a string value "px" on the end, to a float value
function pxToFloat(string) {
	return parseFloat(string.substring(0, string.length-2));
}

// Recalculates sizes of top row buttons based on rest of page
function recalculateTopRowButtonSizes() {
	var buttons = [document.getElementById("scalarButton"), document.getElementById("matrixButton"), document.getElementById("operatorButton")];
	
	var i = 0;
	while (i < buttons.length) {
		var button = buttons[i];
		button.style.width = pxToFloat(window.getComputedStyle(topRowButtonDiv)["width"])/topRowButtonCount - 2*pxToFloat(button.style.paddingLeft) - 2*pxToFloat(button.style.borderWidth);// - (window.innerWidth - document.body.clientWidth)/topRowButtonCount;
		i += 1;
	}
	
	var tallestHeight = 0;
	var i = 0;
	while (i < buttons.length) {
		var button = buttons[i];
		currentHeight = pxToFloat(window.getComputedStyle(button)["height"]);
		if (currentHeight > tallestHeight) {
			tallestHeight = currentHeight;
		}
		i += 1;
	}
	
	var i = 0;
	while (i < buttons.length) {
		var button = buttons[i];
		button.style.height = tallestHeight;
		i += 1;
	}
	
}

// Creates a new top row button e.g. add scalar
function addTopRowButton(id, innerHTML, onclick) {
	var button = document.createElement("div");
	button.id = id
	button.innerHTML = innerHTML;
	button.class = "button";
	
	button.style.borderWidth = 1;
	button.style.borderStyle = "solid";
	button.style.borderColor = "black";
	button.style.cursor = "pointer";
	button.style.textAlign = "center";
	button.style.verticalAlign = "top";
	button.style.display = "inline-block";
	button.style.padding = 0;
	button.style.paddingTop = 0.02*window.innerHeight;
	button.style.paddingBottom = 0.02*window.innerHeight;
	button.onclick = onclick;
	
	topRowButtonCount += 1;
	
	topRowButtonDiv.appendChild(button);
}

// Create container div for top row buttons
topRowButtonDiv = document.createElement("div");
topRowButtonDiv.id = "topRowButtonDiv";
topRowButtonDiv.style.padding = 0;
topRowButtonDiv.style.marginBottom = 0.05 * window.innerHeight;
mainDiv.appendChild(topRowButtonDiv);
 
// Used for calculating widths for the top row buttons
topRowButtonCount = 0;

// Create all buttons for adding new items
addTopRowButton("scalarButton", "Add scalar", addScalar);
addTopRowButton("matrixButton", "Add matrix", addMatrix);
addTopRowButton("operatorButton", "Add operator	", null);

// Caculate the widths that the top row buttons should be
recalculateTopRowButtonSizes();

// Create container div for all items e.g. scalars, matrices and operators
itemDiv = document.createElement("div");
itemDiv.id = "itemDiv";
itemDiv.style.padding = 0;
mainDiv.appendChild(itemDiv);

// Counts increase/decrease for every item added/removed from the equation
matrixCount = 0;
scalarCount = 0;
operatorCount = 0;

// Creates an empty item that can become a scalar, matrix or operator
function createEmptyItem(itemClass, itemCount) {
	var itemWrapper = document.createElement("div");
	itemWrapper.class = "itemClass";
	itemWrapper.id = itemCount;
	itemWrapper.style.display = "grid";
	itemWrapper.style.gridTemplateColumns = "repeat(9, 1fr)";
	itemWrapper.style.gridTemplateRows = "repeat(9, 1fr)"; 
	itemWrapper.style.width = "100%";
	itemWrapper.style.height = 0.3 * window.innerHeight;
	itemWrapper.style.background = "#d6d6d6";
	itemWrapper.style.padding = 0;
	itemWrapper.style.marginBottom = 0.05 * window.innerHeight;
	
	var itemSidebar = document.createElement("div");
	itemSidebar.class = "itemSidebar";
	itemSidebar.style.gridColumnStart = 1;
	itemSidebar.style.gridColumnEnd = 3;
	itemSidebar.style.gridRowStart = 1;
	itemSidebar.style.gridRowEnd = 10;
	itemSidebar.style.background = "#cccccc";
	
	var itemName = document.createElement("div");
	itemName.class = "itemName";
	itemName.style.gridColumnStart = 1;
	itemName.style.gridColumnEnd = 3;
	itemName.style.gridRowStart = 1;
	itemName.style.gridRowEnd = 2;
	itemName.style.background = "#aaaaaa";
	itemName.style.padding = 0;
	itemName.style.textAlign = "center";
	itemName.style.fontSize = pxToFloat(itemWrapper.style.height)/14;
	itemName.innerHTML = itemWrapper.class + itemWrapper.id;
	
	var itemMoveUpIcon = document.createElement("img");
	itemMoveUpIcon.class = "itemMoveUpIcon";
	itemMoveUpIcon.src = "static/moveup.png";
	itemMoveUpIcon.style.cursor = "pointer";
	itemMoveUpIcon.style.imageRendering = "pixelated";
	itemMoveUpIcon.style.height = "100%";
	itemMoveUpIcon.style.margin = "0 auto";
	itemMoveUpIcon.style.gridColumnStart = 2;
	itemMoveUpIcon.style.gridColumnEnd = 3;
	itemMoveUpIcon.style.gridRowStart = 4;
	itemMoveUpIcon.style.gridRowEnd = 5;
	itemMoveUpIcon.onclick = moveItemUp;
	
	var itemDeleteIcon = document.createElement("img");
	itemDeleteIcon.class = "itemDeleteIcon";
	itemDeleteIcon.src = "static/delete.png";
	itemDeleteIcon.style.cursor = "pointer";
	itemDeleteIcon.style.imageRendering = "pixelated";
	itemDeleteIcon.style.height = "100%";
	itemDeleteIcon.style.margin = "0 auto";
	itemDeleteIcon.style.gridColumnStart = 2;
	itemDeleteIcon.style.gridColumnEnd = 3;
	itemDeleteIcon.style.gridRowStart = 6;
	itemDeleteIcon.style.gridRowEnd = 7;
	itemDeleteIcon.onclick = deleteItem;
	
	var itemMoveDownIcon = document.createElement("img");
	itemMoveDownIcon.class = "itemMoveDownIcon";
	itemMoveDownIcon.src = "static/movedown.png";
	itemMoveDownIcon.style.cursor = "pointer";
	itemMoveDownIcon.style.imageRendering = "pixelated";
	itemMoveDownIcon.style.height = "100%";
	itemMoveDownIcon.style.margin = "0 auto";
	itemMoveDownIcon.style.gridColumnStart = 2;
	itemMoveDownIcon.style.gridColumnEnd = 3;
	itemMoveDownIcon.style.gridRowStart = 8;
	itemMoveDownIcon.style.gridRowEnd = 9;
	itemMoveDownIcon.onclick = moveItemDown;

	itemWrapper.appendChild(itemSidebar);
	itemWrapper.appendChild(itemName);
	itemWrapper.appendChild(itemMoveUpIcon);
	itemWrapper.appendChild(itemDeleteIcon);
	itemWrapper.appendChild(itemMoveDownIcon);
	itemWrapper.appendChild(itemMoveDownIcon);
	
	return itemWrapper;
}

// Creates a scalar item
function addScalar() {
	scalarCount += 1;
	var scalarWrapper = createEmptyItem("scalar", scalarCount);
	
	var scalarTextbox = document.createElement("input");
	scalarTextbox.class = "scalarTextbox";
	scalarTextbox.style.boxSizing = "border-box";
	scalarTextbox.style.width = "100%";
	scalarTextbox.style.gridColumnStart = 4;
	scalarTextbox.style.gridColumnEnd = 5;
	scalarTextbox.style.gridRowStart = 2;
	scalarTextbox.style.gridRowEnd = 3;
	scalarTextbox.style.textAlign = "center";
	scalarTextbox.type = "text";
	
	scalarWrapper.appendChild(scalarTextbox);
	
	itemDiv.appendChild(scalarWrapper);
	
	recalculateTopRowButtonSizes();
}

// Creates a matrix item
function addMatrix() {
	matrixCount += 1;
	var matrixWrapper = createEmptyItem("matrix", matrixCount);
	
	matrixWrapper.setAttribute("matrixColumns", 2);
	matrixWrapper.setAttribute("matrixRows", 2);

	var c = 0;
	while (c < matrixWrapper.getAttribute("matrixColumns")) {
		var r = 0;
		while (r < matrixWrapper.getAttribute("matrixRows")) {
			addMatrixElement(c, r, matrixWrapper);
			r += 1;
		}
		c += 1;
	}
	
	var addMatrixRowIcon = document.createElement("img");
	addMatrixRowIcon.setAttribute("class", "addMatrixRowIcon");
	//addMatrixRowIcon.class = "addMatrixRowIcon";
	addMatrixRowIcon.src = "static/add.png";
	addMatrixRowIcon.style.cursor = "pointer";
	addMatrixRowIcon.style.imageRendering = "pixelated";
	addMatrixRowIcon.style.height = "100%";
	addMatrixRowIcon.style.margin = "0 auto";
	addMatrixRowIcon.style.gridColumnStart = 4;
	addMatrixRowIcon.style.gridColumnEnd = 5;
	addMatrixRowIcon.style.gridRowStart = 2+parseInt(matrixWrapper.getAttribute("matrixRows"));
	addMatrixRowIcon.style.gridRowEnd = 3+parseInt(matrixWrapper.getAttribute("matrixRows"));
	addMatrixRowIcon.onclick = addMatrixRow;
	
	var addMatrixColumnIcon = document.createElement("img");
	addMatrixColumnIcon.setAttribute("class", "addMatrixColumnIcon");
	//addMatrixColumnIcon.class = "addMatrixColumnIcon";
	addMatrixColumnIcon.src = "static/add.png";
	addMatrixColumnIcon.style.cursor = "pointer";
	addMatrixColumnIcon.style.imageRendering = "pixelated";
	addMatrixColumnIcon.style.height = "100%";
	addMatrixColumnIcon.style.gridColumnStart = 4+parseInt(matrixWrapper.getAttribute("matrixColumns"));
	addMatrixColumnIcon.style.gridColumnEnd = 5+parseInt(matrixWrapper.getAttribute("matrixColumns"));
	addMatrixColumnIcon.style.gridRowStart = 2;
	addMatrixColumnIcon.style.gridRowEnd = 3;
	addMatrixColumnIcon.onclick = null;//addMatrixColumn;
	
	matrixWrapper.appendChild(addMatrixRowIcon);
	matrixWrapper.appendChild(addMatrixColumnIcon);
	itemDiv.appendChild(matrixWrapper);
	
	recalculateTopRowButtonSizes();
}

function moveAddColumnRowIcon(matrixWrapper) {
	addMatrixRowIcon = matrixWrapper.getElementsByClass("addMatrixColumnIcon")[0];
	addMatrixRowIcon.style.gridColumnStart = 4;
	addMatrixRowIcon.style.gridColumnEnd = 5;
	addMatrixRowIcon.style.gridRowStart = 2+parseInt(matrixWrapper.getAttribute("matrixRows"));
	addMatrixRowIcon.style.gridRowEnd = 3+parseInt(matrixWrapper.getAttribute("matrixRows"));
	
	addMatrixColumnIcon = matrixWrapper.getElementsByClass("addMatrixColumnIcon");
	addMatrixColumnIcon.style.gridColumnStart = 4+parseInt(matrixWrapper.getAttribute("matrixColumns"));
	addMatrixColumnIcon.style.gridColumnEnd = 5+parseInt(matrixWrapper.getAttribute("matrixColumns"));
	addMatrixColumnIcon.style.gridRowStart = 2;
	addMatrixColumnIcon.style.gridRowEnd = 3;
}

function addMatrixElement(c, r, matrixWrapper) {
	var matrixElementTextbox = document.createElement("input");
	matrixElementTextbox.class = "matrixElementTextbox";
	matrixElementTextbox.style.boxSizing = "border-box";
	matrixElementTextbox.style.width = "100%";
	matrixElementTextbox.style.textAlign = "center";
	matrixElementTextbox.type = "text";
	
	matrixElementTextbox.style.gridColumnStart = 4+c;
	matrixElementTextbox.style.gridColumnEnd = 5+c;
	matrixElementTextbox.style.gridRowStart = 2+r;
	matrixElementTextbox.style.gridRowEnd = 3+r;
	
	matrixWrapper.appendChild(matrixElementTextbox);
}

function addMatrixRow() {
	var matrixWrapper = event["path"][1];
	var matrixColumns = parseInt(matrixWrapper.getAttribute("matrixColumns"));
	var matrixRows = parseInt(matrixWrapper.getAttribute("matrixRows"));
	
	var c = 0;
	while (c < matrixColumns) {
		addMatrixElement(c, matrixRows, matrixWrapper);
		c += 1;
	}
	
	matrixWrapper.setAttribute("matrixRows", matrixRows+1);
	
	addMatrixRowIcon = matrixWrapper.getElementsByClassName("addMatrixRowIcon")[0];
	addMatrixRowIcon.style.gridColumnStart = 4;
	addMatrixRowIcon.style.gridColumnEnd = 5;
	addMatrixRowIcon.style.gridRowStart = 2+parseInt(matrixWrapper.getAttribute("matrixRows"));
	addMatrixRowIcon.style.gridRowEnd = 3+parseInt(matrixWrapper.getAttribute("matrixRows"));
	
	removeMatrixRowIcon = matrixWrapper.getElementsByClassName("removeMatrixRowIcon")[0];
	removeMatrixRowIcon.style.gridColumnStart = 4;
	removeMatrixRowIcon.style.gridColumnEnd = 5;
	removeMatrixRowIcon.style.gridRowStart = 2+parseInt(matrixWrapper.getAttribute("matrixRows"));
	removeMatrixRowIcon.style.gridRowEnd = 3+parseInt(matrixWrapper.getAttribute("matrixRows"));
}

function removeMatrixRow() {
	var matrixWrapper = event["path"][1];
	var matrixColumns = parseInt(matrixWrapper.getAttribute("matrixColumns"));
	var matrixRows = parseInt(matrixWrapper.getAttribute("matrixRows"));
	
	var c = 0;
	while (c < matrixColumns) {
		addMatrixElement(c, matrixRows, matrixWrapper);
		c += 1;
	}
	
	matrixWrapper.setAttribute("matrixRows", matrixRows+1);
	
	addMatrixRowIcon = matrixWrapper.getElementsByClassName("addMatrixRowIcon")[0];
	addMatrixRowIcon.style.gridColumnStart = 4;
	addMatrixRowIcon.style.gridColumnEnd = 5;
	addMatrixRowIcon.style.gridRowStart = 2+parseInt(matrixWrapper.getAttribute("matrixRows"));
	addMatrixRowIcon.style.gridRowEnd = 3+parseInt(matrixWrapper.getAttribute("matrixRows"));
	
	removeMatrixRowIcon = matrixWrapper.getElementsByClassName("removeMatrixRowIcon")[0];
	removeMatrixRowIcon.style.gridColumnStart = 4;
	removeMatrixRowIcon.style.gridColumnEnd = 5;
	removeMatrixRowIcon.style.gridRowStart = 2+parseInt(matrixWrapper.getAttribute("matrixRows"));
	removeMatrixRowIcon.style.gridRowEnd = 3+parseInt(matrixWrapper.getAttribute("matrixRows"));
	
}


function deleteItem(event) {
	// Gets parent element of the delete icon that was clicked
	var item = event["path"][1];
	
	// Changes id, name and count so that each item is still in order
	var i = 0;
	while (i < itemDiv.children.length) {
		// Only change item ids of items with the same class
		if (itemDiv.children[i].class == item.class) {
			if (parseInt(itemDiv.children[i].id) > parseInt(item.id)) {
				// Change id
				itemDiv.children[i].id = parseInt(itemDiv.children[i].id) - 1;
				// Change the name that is displayed
				itemDiv.children[i].children[1].innerHTML = itemDiv.children[i].class + itemDiv.children[i].id;
			}
		}
		i += 1
	}
	scalarCount -= 1;
	
	item.parentNode.removeChild(item);
	
}

function moveItemUp(event) {
	var item = event["path"][0].parentNode;
	var previousItem = item.previousSibling;
	
	if (previousItem != null) {
		var parent = item.parentNode;
		
		parent.removeChild(item);
		parent.insertBefore(item, previousItem);
		
		// Swaps id's back if items are both of the same class (e.g. both scalars)
		if (previousItem.class == item.class) {
			var tempId = item.id;
			item.id = previousItem.id;
			previousItem.id = tempId;

			item.children[1].innerHTML = item.class + item.id;
			previousItem.children[1].innerHTML = previousItem.class + previousItem.id;
		}
	}
}

function moveItemDown(event) {
	var item = event["path"][0].parentNode;
	var nextItem = item.nextSibling;
	
	if (nextItem != null) {
		var parent = item.parentNode;
		
		parent.removeChild(item);
		
		// If removing the item before last, it must be re-inserted as the last item
		// Because it is the item before last, nextItem.nextSibling will be null meaning we have to use parent.appendChild instead of parent.insertBefore
		if (nextItem.nextSibling == null) {
			parent.appendChild(item);
		}
		else {
			parent.insertBefore(item, nextItem.nextSibling);
		}
		
		// Swaps id's back if items are both of the same class (e.g. both scalars)
		if (nextItem.class == item.class) {
			var tempId = item.id;
			item.id = nextItem.id;
			nextItem.id = tempId;

			item.children[1].innerHTML = item.class + item.id;
			nextItem.children[1].innerHTML = nextItem.class + nextItem.id;
		}
	}
}

function takeValues() {
	var i = 0;
	while (i < itemDiv.children.length) {
		if (itemDiv.children[i].class == "scalar") {
			console.log(itemDiv.children[i].children[5].value);
		}
		i += 1
	}
}
</script>

{% endblock %}
